{% extends 'base.html' %}

{%block head%}
    <title>Dala Dala</title>
{%endblock%}

{%block body%}
<div class="principal">
    <h1>Bienvenido <br> 
        Esta es una forma auxiliar para la API del valor del dolar.</h1>
    <p>Instrucciones:
        ingresar la fecha desde la que empezar el grafico en la casilla inicio, y la fecha de fin en la casilla Fin, 
        por defecto devuelve el ultimo mes. <br>
        formato esperado dd-mm-aaaa
    </p>
    <form action="/grafica" method="POST">
        <label for="Inicio">Inicio</label>
        <input type="datetime" name="Inicio" id="Inicio">
        <label for="fecha">Fin</label>
        <input type="datetime" name="Fin" id="Fin">
        <input type="submit" value="Aceptar">
    </form>
</div>
{%endblock%}