{% extends 'base.html' %}

{%block head%}
    <title>Dala Dala</title>
{%endblock%}

{%block body%}
<div class="principal">
    <h1>Bienvenido <br> 
        Esta es una forma auxiliar para la API del valor del dolar.</h1>
    <p>Instrucciones:
        ingresar el año que queremos en la casilla de abajo, por defecto devuelve el año actual
    </p>
    <form action="/grafica" method="POST">
        <label for="fecha">Año</label>
        <input type="datetime" name="year" id="year">
        <input type="submit" value="Aceptar">
    </form>
</div>
{%endblock%}